.designcodeLogo {
  width: 28px;
  position: relative;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.designcode {
  color: var(--Foreground-primary, #000);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 22px 16px;
  gap: 8px;
}
.designs {
  color: var(--Foreground-primary, #000);

  /* Headline/Medium */
  font-family: var(--font, Manrope);
  font-size: var(--headline, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.total {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.div {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
}
.info {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.button {
  flex: 1;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.05),
    10px 10px 30px rgba(0, 0, 0, 0.05),
    40px 40px 80px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 8px;
  min-width: 200px;
}
.button1 {
  flex: 1;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 8px;
  min-width: 200px;
}
.header1 {
  flex: 1;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.05),
    10px 10px 30px rgba(0, 0, 0, 0.05),
    40px 40px 80px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(40px);
  border-radius: 32px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 20px;
  min-width: 230px;
  max-width: 680px;
  font-size: 20px;

  @media (max-width: 800px) {
    display: none;
  }
}
.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  text-align: left;
  font-size: 28px;
  color: #000;
  font-family: Manrope;
}
.menuAlignLeftDesc {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonCircle {
  text-decoration: none;
  position: relative;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  transition: 1s;
  display: none;
  @media (max-width: 800px) {
    display: flex;
  }
}
.buttonCircle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
.drawer {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;
}
