@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: var(--font, Manrope);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  /* Light */ /* colors */
  --background-blue: #f2f3fa;
  --background-gray: #f0f0f0;
  --background-primary: #ffffff;
  --background-secondary: #ffffff1a;
  --background-tertiary: #0000000d;
  --button-foreground: #ffffff;
  --button-green: #34759;
  --button-hover: #00336b;
  --button-inactive: #00000033;
  --button-normal: #007aff;
  --button-red: #ff3b30;
  --button-yellow: #ffcc00;
  --container-background: #ffffff99;
  --container-background-recessed: #ffffffe5;
  --container-background-secondary: #ffffff1a;
  --container-background-tertiary: #ffffffe5;
  --container-border: #ffffff80;
  --container-border-secondary: #ffffff33;
  --container-divider: #0000001a;
  --container-divider-secondary: #00000033;
  --foreground-primary: #000000;
  --foreground-secondary: #000000b2;
  --foreground-tertiary: #00000080;
  --gradient-fill-1: #ffffffe5;
  --gradient-fill-1: #ffffffcc;

  @media (prefers-color-scheme: light) {
    --background-primary: rgb(0, 0, 0);
    --background-secondary: rgb(0, 0, 0, 0.1);
    --background-tertiary: rgb(255, 255, 255, 0.1);
    --button-foreground: rgb(255, 255, 255);
    --container-background: rgb(0, 0, 0, 0.6);
    --container-background-recessed: rgb(0, 0, 0, 0.2);
    --container-background-secondary: rgb(0, 0, 0, 0.1);
    --container-background-tertiary: rgb(255, 255, 255, 0.1);
    --container-border: rgb(255, 255, 255, 0.1);
    --container-border-secondary: rgb(255, 255, 255, 0.1);
    --container-divider: rgb(255, 255, 255, 0.1);
    --container-divider-secondary: rgb(255, 255, 255, 0.2);
    --foreground-primary: rgb(255, 255, 255);
    --foreground-secondary: rgb(255, 255, 255, 0.7);
    --foreground-tertiary: rgb(255, 255, 255, 0.5);
  }
}

button {
  border: none;
}
